.feedContainer {
  margin: 3%;
}
.title {
  text-align: center;
}
.buttonRow {
  justify-content: center;
  display: flex;
}
.page {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.center {
  text-align: center;
}
.filterBtnContainer {
  justify-content: center;
  display: flex;
  margin-bottom: 20;
}
